<nav class="navbar navbar-expand-md navbar-dark fixed-top blue-gradient">
    <a class="navbar-brand waves-effect" href="/home" id="t"><h3>
        <%= image_tag 'pngfinal', :class=>"img-fluid", :style=>"width:50px;" %>
        Forum
    </h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0 ml-auto waves-effect" id="search" action="/home" accept-charset="UTF-8" method="get">
        <input class="form-control" type="search" placeholder="Search Article" aria-label="Search" id="eng"  name="title">
        <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
    </form>
    <% if current_account %>
        <div class="nav-item dropdown" style="margin-right:5px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
            <%= current_account.first %> <%= current_account.last %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/home/<%= current_account.id %>">Profile</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>
    <% end %>
</nav>

<%
=begin %>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/home" id="t"><h3>Forum</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <%#
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        %>
    </div>
    <% if current_account %>
        <div class="nav-item dropdown" style="margin-right:5px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
            <%= current_account.first %> <%= current_account.last %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/home/<%= current_account.id %>">Profile</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>
    <% end %>
</nav>
<% 
=end %>

    <!-- Begin page content -->
    <main role="main" style="margin-top:85px; margin-left:20px">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-7 feed">
                <div id="results" hidden class="col-xs-6 col-sm-6 col-md-6 col-lg-12">
                </div>
                <% @posts.each do |post| %>
                    <div class="articles col-xs-6 col-sm-6 col-md-6 col-lg-12">
                        <div class="card wow fadeIn mt-5">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <div class="z-depth-5 mb-5" style="margin-top:-40px;">
                                            <% if !post.image_url %>
                                                <%= image_tag 'NoImage.png', :style=>"width:100%; height:100%" %>
                                            <% elsif %>
                                                <button data-toggle="modal" data-target="#view_post" data-image=<%= post.image_url.to_s %> class="p-0" style="border:none; background: none;"  >
                                                    <%= image_tag post.image_url.to_s, :style=>"width:100%; min-height:255.3px", :class=>"p-0" %>
                                                </button>
                                            <% end %>
                                        </div>
                                    </div>
                                    <span class="badge badge-info position-absolute" style="top:0; right:0"> <%= time_ago_in_words(post.created_at) %> ago </span>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <h4 class="card-title"> <%= post.title %> </h4>
                                        <div class="author blue-gradient" style="border-radius:20px; width:auto">
                                            <% @accounts.each do |t| %>
                                                <% if(post.account_id === t.id) && t.image_url %>
                                                    <%= image_tag t.image_url.to_s, :class=>"rounded-circle img-fluid p-1", :style=>"width:30px; height:30px" %>
                                                <% elsif(post.account_id === t.id) && !(t.image_url) %>
                                                    <%= image_tag 'myAvatar.png', :class=>"rounded-circle img-fluid p-1", :style=>"width:30px; height:30px" %>
                                                <% end %>
                                            <% end %>
                                            <a href="/home/<%=post.account_id%>" style="text-decoration:none;" class="text-dark"> <%= post.email %> </a>
                                        </div>
                                        <hr>
                                        <% if post.content.scan(/[\w-]+/).size < 90 %>
                                            <p class="card-text"><%= post.content %></p>
                                            <% else %>
                                                <p id="cont<%=post.id%>" class="long card-text">
                                                    <%= post.content.truncate_words(90) %> 
                                                    <a href='#see' class="see" id="cont<%=post.id%>"> see more </a> 
                                                </p>
                                                <div class="cont" id="cont<%=post.id%>" hidden> 
                                                    <p class="card-text" id="hide<%=post.id%>">
                                                        <%= post.content %> <a href='#hide' class="hide" id="hide<%=post.id%>"> see less </a>
                                                    </p>
                                                </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="ml-n4 mt-n4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <ul>
                                            <li style="display: inline; list-style: none">
                                                <a href="/home/<%=post.id%>/posts" class="btn btn-unique btn-sm">
                                                    <i class="far fa-comments pr-2" aria-hidden="true"></i>
                                                    Comments 
                                                    <span class="badge badge-pill badge-danger">
                                                        <% if post.comments.size === 0 %>
                                                            0
                                                        <% else %>
                                                            <%= pluralize post.comments.size, '' %>
                                                        <% end %>
                                                    </span>
                                                </a>
                                            </li>
                                            <li style="display: inline; list-style: none">
                                                <a href="/home/<%=post.account_id%>" class="btn btn-unique btn-sm">
                                                    <i class="fas fa-user-alt pr-2" aria-hidden="true"></i>About the Author
                                                </a>
                                            </li>
                                            <% if current_account.id === post.account_id %>
                                                <li style="display: inline; list-style: none">
                                                    <button class="btn btn-unique btn-sm" data-toggle="modal" data-target="#edit_post" data-id=<%=post.id%> data-title="<%=post.title%>" data-content="<%= post.content %>" data-image=<%= post.image_url.to_s %> data-account_id=<%= post.account_id %> > <i class="fas fa-edit pr-2" aria-hidden="true"></i> Edit Post </button>
                                                </li>
                                                <li style="display: inline; list-style: none">
                                                    <input class="form-control dd" value=<%= post.id %> id="dd" hidden />
                                                    <%= link_to  home_posts_path(post), :id =>'delete', :class => "btn btn-unique btn-sm delete" do %>
                                                        <i class="fas fa-trash-alt pr-2" aria-hidden="true"></i> Delete
                                                    <% end %>
                                                </li>
                                            <% end %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="position-fixed col-xs-12 col-sm-12 col-md-12 col-lg-5 offset-xs-12 offset-sm-12 offset-md-6 offset-lg-7 float delay-1s animated fadeIn">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12 float">
                    <% if current_account %>
                        <button class="btn aqua-gradient col-md-12" data-toggle="modal" data-target="#post"> Create Post </button>
                    <%end%>
                    <br>
                    <br>
                    <table class="table">
                        <thead class="thead-dark">
                            <div class="card-header text-white purple-gradient" style="padding:10px">
                            <h5 style="text-align:center" class="font-weight-bold mb-0"> Trending Articles </h5>
                            </div>
                        </thead>
                        <tbody style="background-color:#F7F7F7">
                            <% @tops.each do |top| %>
                                <tr>
                                    <td class="p-0">
                                        <div class="card p-2 animated fadeInLeft delay-2s">
                                            <div>
                                                <span class="badge badge-danger position-absolute" style="top:0; left:0"> <%= top.comments_count %> </span>
                                                <% @accounts.each do |t| %>
                                                    <% if(top.account_id === t.id) && t.image_url %>
                                                        <%= image_tag t.image_url.to_s, :style => "width:40px; height:40px; border-radius: 50%" %>
                                                            
                                                        <% elsif(top.account_id === t.id) && !(t.image_url) %>
                                                            <%= image_tag 'myAvatar.png', :style => "width:40px; height:40px; border-radius: 50%" %>
                                                    <% end %>
                                                <% end %>
                                                <a href="/home/<%=top.id%>/posts" class="position-absolute ml-2">
                                                    <p class="card-title">
                                                        <%= top.title %>
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
                </div>
            </div>
        </div>

    </main>
<div class="modal fade" id="post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <form id="add" method="POST" action="/home/<%= current_account.id %>/posts">
        <div class="modal-content">
            <div class="modal-header blue-gradient white-text">
                <h4 class="title"><i class="far fa-edit"></i>Create Post </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <img id="image_preview_post" src="#" style="width:100%; height:100%" alt="post image" />
                <div class="col-md-12 md-form">
                    <input class="form-control file-input" id="post_image" type="file" name="post[image]" accept="image/*"  onchange="imagePreviewPost(this);" />
                </div>
                <div class="row">
                    <div class="col-md-12 md-form"><b>Title</b>
                        <input class="form-control" type="text" name="post[title]" id="post_title"/>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 md-form"><b>Content</b>
                        <textarea class="form-control md-textarea" rows="5" name="post[content]"  id="post_content" style="overflow:auto"></textarea> 
                    </div>
                </div>
                <input class="form-control" hidden type="email" value=<%= current_account.email %> name="post[email]" id="post_email"/>
                <input id="gawa" class="btn btn-info btn-sm float-right" type="submit" value="Create" />
            </div>
        </div>
    </form>
  </div>
</div>

<div class="modal fade" id="edit_post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <form class="edit" method="PATCH">
        <div class="modal-content">
            <div class="modal-header blue-gradient white-text">
                <h4 class="title"><i class="far fa-edit"></i>Edit Post </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <img id="image_preview" src="" style="width:100%; height:100%"/>
                <div class="col-md-12 md-form">
                    <input class="form-control file-input" id="post_image" type="file" name="post[image]" accept="image/*"  onchange="imagePreview(this);" />
                </div>
                <div class="row">
                    <div class="col-md-12 md-form"><b>Title</b>
                        <input class="form-control" type="number" name="post[id]" id="post_id" hidden/>
                        <input class="form-control" type="text" name="post[title]" id="post_title"/>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 md-form"><b>Content</b>
                        <textarea class="form-control md-textarea" rows="5" name="post[content]"  id="post_content" style="overflow:auto"></textarea> 
                    </div>
                </div>
                <input class="form-control" hidden type="email" value=<%= current_account.email %> name="post[email]" id="post_email"/>
                <input id="gawa" class="btn btn-info btn-sm float-right" type="submit" value="Submit" />
            </div>
        </div>
    </form>
  </div>
</div>


<div class="modal fade" id="view_post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="image_container">
                <img id="post_image_view" src="" style="width:100%; height:100%"/>
            </div>
        </div>
    </div>
  </div>
</div>


<script>
    $('.see').click(function(x){
        x.preventDefault();
        var p =  $(this).closest($('p.long')).attr('id')
        console.log(p)
        $('div#'+p).removeAttr('hidden');
        $(this).closest($('p.long')).hide();
        $('a#'+p).attr('hidden', 'hidden');
    })
    $('.hide').click(function(q){
        q.preventDefault();
        var y = $(this).closest($('div.cont')).attr('id')
        console.log(y)
        $('div#'+y).attr('hidden', 'hidden');
        $(this).closest($('p#'+y).show())
        $('a#'+y).removeAttr('hidden')
    })
    //view post image
    $('#view_post').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var img_url = button.data('image')

        var modal = $(this)
        $('#post_image_view').attr('src', img_url)
    });
    //post
    function imagePreviewPost(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#image_preview_post')
            .attr('src', e.target.result)
        };

        reader.readAsDataURL(input.files[0]);
        }
    }
    //Edit post
    function imagePreview(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#image_preview')
            .attr('src', e.target.result)
        };

        reader.readAsDataURL(input.files[0]);
        }
    }
    $('#edit_post').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var account_id = button.data('account_id')
        var id = button.data('id')
        var title = button.data('title')
        var content = button.data('content')
        var img_url = button.data('image')

        var modal = $(this)
        modal.find('.modal-body #post_id').val(id)
        modal.find('.modal-body #post_title').val(title)
        modal.find('.modal-body #post_content').val(content)
        $('form.edit').attr('action', '/home/'+account_id+'/posts/'+id)
        $('#image_preview').attr('src', img_url)
    });
    $(document).ready(function(){ 
        new WOW().init();
        $("form#search").keyup(function(){
            if ($("input#eng").val() == "") {
                $("div#results").attr("hidden", "hidden")
            }
            else{
                $("div#results").removeAttr("hidden")
                $.ajax({
                    type: "get",
                    url: $("form#search").attr('action'),
                    data: $('form#search').serializeArray(),
                    success: function(json){
                        console.log(json);
                        if(json.length){
                            var markup = "<hr>";
                            markup +='    <table class="table">';
                            markup +='        <thead class="thead-dark">';
                            markup +='            <tr>';
                            markup +='                <th> Search Results </th>';
                            markup +='                <th></th>';
                            markup +='            </tr>';
                            markup +='        </thead>';
                            markup +='        <tbody style="background-color:white">';
                            $.each(json, function(k,v){
                                markup +='            <tr>';
                                markup +='                <td>' +v.title+ '</td>';
                                markup +='                <td> <a href=/home/'+v.id+'/posts class="btn btn-info btn-sm">View Post </a> </td>';
                                markup +='            </tr>';
                            })
                            markup +='        </tbody>';
                            markup +='    </table>';
                            $("div#results").html(markup);
                        }
                        else{
                            var markup = "<hr>";
                            markup +='    <table class="table">';
                            markup +='        <thead class="thead-dark">';
                            markup +='            <tr>';
                            markup +='                <th> No post  found </th>';
                            markup +='            </tr>';
                            markup +='        </thead>';
                            $("div#results").html(markup);
                        }
                    }
                })
            }
        });
    })
    $("form#add").submit(function(w){
        var form = $('form#add')[0];
        var data = new FormData(form);
        w.preventDefault();
        $.ajax({
            type: "post",
            url: $('form#add').attr('action'),
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            data: new FormData(form),
            success: function(response){
                if(response.message == "success"){
                    $('#post').modal('hide');
                    swal({
                        type: 'success',
                        title: 'Post Created!!',
                        showConfirmButton: false,
                        },setTimeout(function() {
                            location.reload();
                        }, 1000)
                    )
                }
                else if(!response){
                    swal({
                        type: 'warning',
                        text: 'Something went wrong, pls reload',
                    })
                }
                
            }
        })
    })
    $("form.edit").submit(function(w){
        var form = $('form.edit')[0];
        var data = new FormData(form);
        w.preventDefault();
        $.ajax({
            type: "PATCH",
            url: $('form.edit').attr('action'),
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            data: new FormData(form),
            success: function(response){
                if(response.message == "success"){
                    $('#post').modal('hide');
                    swal({
                        type: 'success',
                        title: 'Post Edited!!',
                        showConfirmButton: false,
                        },setTimeout(function() {
                            location.reload();
                        }, 1000)
                    )
                }
                else if(!response){
                    swal({
                        type: 'warning',
                        text: 'Something went wrong, pls reload',
                    })
                }
                
            }
        })
    })
    $('a.delete').click(function(s){
        s.preventDefault()
        var current = $(this).attr('href');
        var e = $(this).siblings('input.dd').val();
        console.log(e);
        console.log(current);
        swal({
            type: "question",
            title: 'Delete this post?',
            showCancelButton: true,
            confirmButtonText: 'Confirm',
            cancelButtonText: 'Cancel',
            cancelButtonClass: 'btn btn-danger',
        }).then((result) => {
            if(result.value){
                var e = $(this).siblings('input.dd').val();
                $.ajax({
                    method: 'DELETE',
                    url: '/posts/'+e,
                    success: function(response){
                    if(response.message == 'success'){
                        const toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                        });
                        toast({
                            type: 'success',
                            title: 'Post Deleted'
                        },setTimeout(function() {
                                location.reload();
                            }, 1000))
                        }
                    }
                }) 
            }
            else{
                
            }
        })
    })
</script>