<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/home" id="t"><h3>Forum</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <%#
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        %>
    </div>
    <% if current_account %>
        <div class="nav-item dropdown" style="margin-right:5px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
            <%= current_account.first %> <%= current_account.last %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/home/<%=current_account.id%> ">Profile</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>
    <% end %>
</nav>

    <!-- Begin page content -->
    <main role="main" style="margin-top:85px; margin-left:20px">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 feed">
                <div class="card" style="margin-bottom:15px">
                    <div class="card-header">
                        <h4><%= @post.title %></h4>
                        <p style="font-size:10px; margin-bottom:-20px; font-style:italic"> <%= @post.created_at.strftime("%D %I:%M %p") %>, <%= @comments.count %> comments <p>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p style="font-size:15px"><%= @post.content %></p>
                                <% if current_account && current_account.email === @post.email%>
                                    <footer class="blockquote-footer"> <cite title="Source Title">My Article</cite></footer>
                                <% else %>
                                    <footer class="blockquote-footer">
                                        Posted by:
                                        <% @accounts.each do |acct| %>
                                            <% if (@post.account_id === acct.id) && acct.image_url %>
                                                <%= image_tag acct.image_url.to_s, :style => "width:35px; height:35px; border-radius: 10%" %>
                                            <% elsif(@post.account_id === acct.id) && !(acct.image_url) %>
                                                <%= image_tag 'icon.jpg', :style => "width:35px; height:35px; border-radius: 10%" %>
                                            <% end %>
                                        <% end %>
                                        <a style="color:#6C7592" href="/home/<%=@post.account_id%>">
                                            <cite title="Source Title">
                                                <%= @post.email %>
                                            </cite>
                                        </a>
                                    </footer> 
                                <% end %>
                        </blockquote>
                    </div>
                </div>
                <div class="card" style="margin-bottom:15px">
                    <div class="card-header" style="padding:5px;"> 
                        <h6> </h6>
                    </div>
                    <div class="card-body" style="padding:10px" id="comments">
                        <% @comments.each do |comment| %>
                            <div class="sample">
                                <input value =<%= @post.id %> class="pId" hidden> 
                                <input value =<%= comment.id %> class="cId" hidden> 
                                <div class="image" style="margin-left:3px">
                                    <% @accounts.each do |acct| %>
                                        <% if (comment.acctid === acct.id) && acct.image_url %>
                                            <%= image_tag acct.image_url.to_s, :style => "width:35px; height:35px; border-radius: 10%" %>
                                            
                                            <% elsif(comment.acctid === acct.id) && !(acct.image_url) %>
                                                <%#border-radius: 50%%>
                                                <%= image_tag 'icon.jpg', :style => "width:35px; height:35px; border-radius: 10%" %>
                                        <% end %>
                                    <% end %>
                                </div>
                                <div class="comment" style="margin-left:35px; margin-top:-30px">
                                    <% @accounts.each do |d| %>
                                        <% if comment.acctid === d.id %>
                                            <a style="margin-top:-100px; font-weight:550; font-size:17px; text-decoration:none;" href="/home/<%=comment.acctid%>"> <p style="margin-left:10px;"> <%= d.first %> </a>
                                        <% end %>
                                    <% end %>
                                    <% if comment.laman.scan(/[\w-]+/).size < 80 %>
                                        <p style="font-size:13px; margin-left:15px; text-align:justify; overflow-wrap: break-word; margin-top:-20px"> 
                                            <%= comment.laman %>
                                        </p>
                                    <% else %>
                                        <p id="cont<%=comment.id%>" class="long" style="font-size:13px; margin-left:15px; text-align:justify; overflow-wrap: break-word; margin-top:-20px"> 
                                            <%= comment.laman.truncate_words(80) %> <a href='#' class="see" id="cont<%=comment.id%>"> see more </a>
                                        </p>
                                        <div class="cont" id="cont<%=comment.id%>" hidden> 
                                            <p id="hide<%=comment.id%>" style="font-size:13px; margin-left:15px; text-align:justify; overflow-wrap: break-word; margin-top:-20px">
                                                <%= comment.laman %> <a href='#' class="hide" id="hide<%=comment.id%>"> see less </a>
                                            </p>
                                        </div>
                                    <% end %>
                                </div>
                                <footer class="blockquote-footer" style="margin-bottom:15px; margin-top:-15px">  <a style="color:#6C7592" href="#"> <cite title="Source Title"> <%= time_ago_in_words(comment.created_at) %> ago </cite> </a>
                                    <% if current_account.id == comment.acctid%>
                                        <cite> | <a href=<%=comment.id%> class="delete" idNow=<%comment.id%>  > Delete </a></cite>
                                    <% end %>
                                </footer> 
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="position-fixed col-xs-12 col-sm-12 col-md-6 col-lg-5 offset-xs-12 offset-sm-6 offset-md-6 offset-lg-6 float">
                <div>
                    <% if current_account %>
                        <%= link_to "Create Post", "#post", :class => "btn btn-success col-md-12", "data-toggle" => "modal", :style => "margin-bottom:10px;" %> 
                    <% end %>
                    <% if current_account %>
                        <div class="card" style="margin-bottom:15px">
                            <form id="comment" method="POST" action="/posts/<%= @post.id %>/comments">
                                <div class="card-body" style="padding:5px">
                                    <input class="form-control" value=<%= current_account.email%> name="comment[email]"  id="comment_email" hidden /> 
                                    <input class="form-control" value=<%= current_account.id%> name="comment[acctid]"  id="comment_acctid" hidden /> 
                                    <textarea class="form-control" rows="3" name="comment[laman]" id="comment_laman" placeholder="Write your comment" required></textarea> 
                                    <input class="btn btn-info btn-sm" style="float:right; margin:7px" type="submit" value="Submit" />
                                </div>
                            </form>
                        </div>
                    <% end %>
                    <table class="table">
                        <thead class="thead-dark">
                            <div class="card-header text-white" style="background-color:#F06191; padding:10px">
                            <h5 style="text-align:center"> Trending Articles </h5>
                            </div>
                        </thead>
                        <tbody style="background-color:#F7F7F7">
                            <tr>
                                <td>
                                    <a href="#">Nainit na ulam</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">New Year's Resolutions Scam</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">uganda</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    
<% if current_account %>
    <div class="modal fade bs-example-modal" id="post" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
        <form id="add" method="POST" action="/home/<%= current_account.id %>/posts">
            <div class="modal-content">
            <div class="modal-header" style="background-color:#343A40;">
                <h4 class="modal-title" style="color:white; text-align:center"> Create Post</h4>
                <button class="close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12"><b>Title</b>
                    <input class="form-control" type="text" name="post[title]" id="post_title"/>  
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12"><b>Content</b>
                        <textarea class="form-control" rows="5" name="post[content]"  id="post_content"></textarea> 
                    </div>
                </div>
                    <input class="form-control" hidden type="email" value=<%= current_account.email %> name="post[email]" id="post_email"/>
            <div class="modal-footer">
                <input id="gawa" class="btn btn-info" type="submit" value="Create" />
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
            </div>
            </div>
        </form>
        </div>
    </div>
<% end %>

<script>
    $(document).ready(function(){ 
        var u = window.location.href
        $.ajax({
            type: 'get',
            url: u,
            success: function(json){
                console.log(json);
            }
        })
        $('.see').click(function(x){
            x.preventDefault();
            var p =  $(this).closest($('p.long')).attr('id')
            console.log(p)
            $('div#'+p).removeAttr('hidden');
            $(this).closest($('p.long')).hide();
            $('a#'+p).attr('hidden', 'hidden');
        })
        $('.hide').click(function(q){
            q.preventDefault();
            var y = $(this).closest($('div.cont')).attr('id')
            console.log(y)
            $('div#'+y).attr('hidden', 'hidden');
            $(this).closest($('p#'+y).show())
            $('a#'+y).removeAttr('hidden')
        })
    })
    $("form#comment").submit(function(w){
        w.preventDefault();
        $.ajax({
            type: "post",
            url: $('form#comment').attr('action'),
            data: $('form#comment').serializeArray(),
            success: function(response){
                if(response.message == "success"){
                    $("form#comment").find("input[type=text], textarea").val("");
                    const toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 1000,
                        });
                        toast({
                            type: 'success',
                            title: 'Comment Posted'
                        }).then(
                            $.ajax({
                                type: "get",
                                url: window.location.href,
                                success: function(json){
                                    console.log(json);
                                    var last = json.comments;
                                    var k = last.created_at;
                                    var tim = moment(k).fromNow();
                                    console.log(tim);
                                    console.log(last);
                                    var markup = ''
                                    markup +='<div class="image" style="margin-left:3px">';
                                        $.each(json.acct, function(r,a){
                                            if(!a.image.url){
                                                var empty_image = "/uploads/account/image/wala/icon.jpg";
                                                a.image.url = empty_image;
                                            }
                                            if (a.id && last.acctid === a.id){
                                                markup+= '<img src='+a.image.url+' style = "width:35px; height:35px; border-radius: 10%">';
                                            }
                                            else if(!a.image.url){
                                                markup+= '<img url='+empty_image+' style = "width:35px; height:35px; border-radius: 10%">';
                                            }
                                        })
                                    markup +='</div>';
                                    markup +='<div style="margin-left:45px; margin-top:-30px">';
                                    $.each(json.acct, function(r,a){
                                        if(last.acctid === a.id){
                                            markup+=' <a style="margin-top:-100px; font-weight:550; font-size:17px; text-decoration:none;" href="/home/'+last.acctid+'> <p style="margin-left:10px;"> '+a.first+' </a> </p>';
                                        }
                                    })
                                    markup+='   <p style="font-size:13px; margin-left:5px; text-align:justify; overflow-wrap: break-word; margin-top:-20px"> '+last.laman+' </p> </div>';
                                    markup+='   </div>';
                                    markup+='   <footer class="blockquote-footer" style="margin-bottom:15px; margin-top:-15px">  <a style="color:#6C7592" href="#"> <cite title="Source Title" class="ago"> '+tim+' </cite></a></footer>';
                                    markup+='   </div>';
                                    $("div#comments").append(markup);
                                }
                            })
                        )
                }
                else if(response.message == "failed"){
                    swal({
                        type: 'warning',
                        title: 'Failed!!',
                    })
                }
                
            }
        })
    })
    $('a.delete').click(function(x){
        x.preventDefault();
        var pId = $(".pId").val();
        var idNow = $(this).attr('href');
        var current = '/posts/'+pId+'/comments/'+idNow;
        console.log(idNow);
        var s = $(this).closest($('div.sample'));
        $.ajax({
            method: 'DELETE',
            url: current,
            data: idNow,
            success: function(response){
                if(response.message == 'deleted'){
                    const toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 1000,
                    });
                    toast({
                        type: 'success',
                        title: 'Comment Deleted'
                    }).then(
                        s.fadeOut()
                    )
                }
            }
        })
    })
    $("form#add").submit(function(w){
        w.preventDefault();
        $.ajax({
            type: "post",
            url: $('form#add').attr('action'),
            data: $('form#add').serializeArray(),
            success: function(response){
                if(response.message == "success"){
                    $('#post').modal('hide');
                    swal({
                        type: 'success',
                        title: 'Post Created!!',
                        showConfirmButton: false,
                        },setTimeout(function() {
                            location.reload();
                        }, 1000)
                    )
                }
                else if(response.message == "failed"){
                    swal({
                        type: 'warning',
                        title: 'Login Failed!!',
                        text: 'Incorrect email or password'
                    })
                }
                
            }
        })
    })
</script>